/* *{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* inizio header---------- */
/* header {
  padding:10% 10%;
  background-color: blue;
  border:2px solid black;
}
.contenuti {
  padding:0 10%;
}
.sopra {
  background-color: #d9d6d6;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  height: 150%;
}
.sopra::after {
  clear: both;
  content: "";
  display: table;
}
#cont_sopra_sx1 {
  float: left;
  width: 13%;
  font-family: 'PT Sans', sans-serif;
  border-right: 2px solid #7c98b6;
}
#cont_sopra_sx1 >ul > li a {
  color:#33505b;
}
#cont_sopra_sx1 >ul > li {
  list-style-type: none;

}



section{
  padding:50px 0;
  background-color: green;
  border:2px solid black;
}

footer {
  padding:40px 0;
background-color: violet;
border:2px solid black;
} */

*{
  margin :0 ;
  padding:0;
  box-sizing: border-box;
}
/* inizio HEADER-------------------------- */
header{
 position: relative;
  background-color: red;
  border:1px solid black;
}
/* inizio FASCIA FIXED----- -------*/
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
.fixed {
  height: 80px;
  width: 100%;
  border:1px solid black;
 position: fixed;
  top:0;
  left:0;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  background-color: grey;
}
#fascia_sx > ul > li {
  float: left;
  list-style-type: none;
  border:1px solid black;
  height: 100%;
  width: 50%;
}
#fascia_sx > ul {
  height: 100%;
  width: 100%;
  padding:8px;
}

#fascia_sx {
  height: 50%;
  width: 28%;
  float:left;

  border:1px solid black;
}

#fascia_dx {
  float: right;
  width: 35%;
  border: 1px solid black;
  height: 50%;

}
#fascia_dx > ul > li {
  float: left;
  list-style-type: none;
  border:1px solid black;
  height: 100%;
  width: 33.3%;
}
#fascia_dx > ul {
  height: 100%;
  width: 100%;
  padding:8px;
}
/* fine FASCIA FIXED-------- --------*/
/* inizio FASCIA INF-------- --------*/

#fascia_inf{
  width: 100%;

}

/* inizio FASCIA INF SX */
#fascia_inf {
  height: 80px;
  padding:20px 0;
}
.clear {
  width: 90%;
  padding-left: 10%;

}
#logo {
  float: left;
  border:1px solid black;

}
/* fine FASCIA INF SX */
/* inizio FASCIA INF DX */
#fascia_inf_dx {
  float: right;
  width: 60%;
  height:36px;
  border:1px solid black;
}
#fascia_inf_dx > ul > li {
  float: left;
  list-style-type: none;
  border:1px solid black;
  height: 100%;
  width: 20%;
}
#fascia_inf_dx > ul {
  height: 100%;
  padding:8px;
}
/* fine FASCIA INF DX -------*/
/* fine FASCIA INFERIORE---------- */
/* fine HEADER-------------------------- */

/* inizio PRIMA sezione----------------- */
#background {
  height: 500px;
  background-color: violet;
  padding-left: 10%;
  padding-top: 75px;
}
#free_hubspot {
  height: 60%;
  width: 40%;
  background-color: pink;
  /* float:left; */
}
/* fine PRIMA sezione-------------------- */
/* inizio SECONDA sezione---------------- */
#sez_2 {
  height: 380px;
  background-color:#7b97b7;
  padding-top: 90px;
  padding-left: 10%;
  padding-right: 10%;
}

#sez_2_text {
  height: 60%;
  width: 80%;
  background-color: pink;
}
#sez_2_text img {
  width: 20%;
  height: 50%;
}
/* fine SECONDA sezione------------------ */
/* inizio TERZA sezione------------------ */

#sez_3 {
  height: 280px;
  background-color: #7FFFD4;

}
.sez_3_contenitore {
  width: 80%;
  background-color: green;
}
.sez_3_contenitore > libro >img {
  width: 15%;
  height: 40%;
}
#libro {
  height: 200px;
  width: 18%;
  float: left;
}
#sez_3_testo {
  float: right;
}
/* fine TERZA sezione---------------------- */
/* inizio QUARTA sezione------------------- */
#sez_4{
height: 580px;
padding-left: 10%;
background-color: #00BFFF;
}
.sez_4_contenitore {
  width: 80%;
  background-color: #2F4F4F;
}
.sez_4_blocchi {
  width: 30%;
  height: 500px;
  background-color: #FFFACD;
  float: left;
  text-align: center;
}
.sez_4_img {
  width: 40%;
  height: 20%;
  margin:auto;
}
.sez_4_img img {
  width: 100%;
  height: 100%;
}
.sez_4_blocchi:nth-child(2) {
  margin:0 46px;
}
.sez_4_blocchi:last-child {
  float: right;
}
/* fine QUARTA sezione */
/* inizio QUINTA sezione */
#sez_5 {
  height: 680px;
  background-color: #DEB887;
  padding:5% 10%;
}
#sez_5_testo {
  text-align: center;
}

#sez_5_contenitore {
  height: 100%;
  width: 100%;
}
#sez_5_griglia {
  height: 80%;
  width: 100%;
  margin-top: 30px;
}
#sez_5_griglia_sup {
  width: 100%;
  height: 50%;

}
.sez_5_blocchi {
  width: 25%;
  height: 100%;
  border-right:  1px  solid black;
  border-bottom:  1px  solid black;
  text-align: center;
  float: left;
  padding-top: 30px;
}


.sez_5_blocchi:nth-of-type(4) {
  border-right: 0;
}
#sez_5_griglia_inf {
  width: 100%;
  height: 50%;
}
/* fine QUINTA sezione ------------------*/
/* inizio SESTA sezione----------------- */
#sez_6 {
  height: 300px;
  padding:5% 10%;
}
.sez_6_contenitore {
  width: 100%;

}
/* inizio DIV SINISTRA di TESTO */
#sez_6_testo {
  float: left;
  width: 30%;
  height: 150px;
}
/* fine DIV SINISTRA di TESTO */
/* inizio  LOGHI DESTRA*/
.sez_6_cont_loghi {
  width: 60%;
  float: right;
}
.sez_6_cont_loghi:after{
  clear: right;
  content: "";
  display: table;
}
.sez_6_loghi_sopra{
  width: 100%;
  height: 75px;
}
.sez_6_logo {
  width: 25%;
  float: left;
  padding:12px;
}
.sez_6_logo img{
  width: 100%;
  height: 100%;
}
/* fine SESTA sezione-------------- */
/* inizio SETTIMA sezione----------- */
#sez_7 {
  height: 500px;
  padding:5% 10% 10% 10%;
  background-image: url("https://www.hubspot.com/hubfs/assets/hubspot.com/_style-guide/sword-sprocket/Variation-3@2x.png");
  background-repeat:no-repeat;
  background-position: 84%;
  background-size: 30% 85%;
}
#sez_7_testo {
  width: 45%;
  height: 100%;
}
/* fine SETTIMA sezione------------- */







footer {
  padding: 30% 0;
  background-color: violet;
  border:1px solid black;
}
