/* *{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* inizio header---------- */
/* header {
  padding:10% 10%;
  background-color: blue;
  border:2px solid black;
}
.contenuti {
  padding:0 10%;
}
.sopra {
  background-color: #d9d6d6;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  height: 150%;
}
.sopra::after {
  clear: both;
  content: "";
  display: table;
}
#cont_sopra_sx1 {
  float: left;
  width: 13%;
  font-family: 'PT Sans', sans-serif;
  border-right: 2px solid #7c98b6;
}
#cont_sopra_sx1 >ul > li a {
  color:#33505b;
}
#cont_sopra_sx1 >ul > li {
  list-style-type: none;

}



section{
  padding:50px 0;
  background-color: green;
  border:2px solid black;
}

footer {
  padding:40px 0;
background-color: violet;
border:2px solid black;
} */

*{
  margin :0 ;
  padding:0;
  box-sizing: border-box;
}
/* inizio HEADER-------------------------- */
header{

  background-color: red;
  border:1px solid black;
}
/* inizio FASCIA FIXED----- -------*/
.clearfix {
  clear: both;
  content: "";
  display: table;
}
.fixed {
  height: 80px;
  width: 100%;
  border:1px solid black;
  display: fixed;
  top:0;
  left:0;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
}
#fascia_sx > ul > li {
  float: left;
  list-style-type: none;
  border:1px solid black;
  height: 100%;
  width: 50%;
}
#fascia_sx > ul {
  height: 100%;
  width: 100%;
  padding:8px;
}

#fascia_sx {
  height: 50%;
  width: 28%;
  float:left;

  border:1px solid black;
}

#fascia_dx {
  float: right;
  width: 35%;
  border: 1px solid black;
  height: 50%;

}
#fascia_dx > ul > li {
  float: left;
  list-style-type: none;
  border:1px solid black;
  height: 100%;
  width: 33.3%;
}
#fascia_dx > ul {
  height: 100%;
  width: 100%;
  padding:8px;
}
/* fine FASCIA FIXED-------- --------*/
/* inizio FASCIA INF-------- --------*/

#fascia_inf{
  width: 100%;

}

/* inizio FASCIA INF SX */
#fascia_inf {
  height: 80px;
  padding:20px 0;
}
.clear {
  width: 90%;
  padding-left: 10%;

}
#logo {
  float: left;
  border:1px solid black;

}
/* fine FASCIA INF SX */
/* inizio FASCIA INF DX */
#fascia_inf_dx {
  float: right;
  width: 60%;
  height:36px;
  border:1px solid black;
}
#fascia_inf_dx > ul > li {
  float: left;
  list-style-type: none;
  border:1px solid black;
  height: 100%;
  width: 20%;
}
#fascia_inf_dx > ul {
  height: 100%;
  padding:8px;
}
/* fine FASCIA INF DX -------*/
/* fine FASCIA INFERIORE---------- */
/* fine HEADER-------------------------- */

/* inizio PRIMA sezione----------------- */
#background {
  height: 500px;
  background-color: violet;
  padding-left: 10%;
  padding-top: 75px;
}
#free_hubspot {
  height: 60%;
  width: 40%;
  background-color: pink;
  /* float:left; */
}
/* fine PRIMA sezione-------------------- */
/* inizio SECONDA sezione---------------- */
#sez_2 {
  height: 380px;
  background-color:#7b97b7;
  padding-top: 90px;
  padding-left: 10%;
  padding-right: 10%;
}

#sez_2_text {
  height: 60%;
  width: 80%;
  background-color: pink;
}
#sez_2_text img {
  width: 20%;
  height: 50%;
}
/* fine SECONDA sezione------------------ */
/* inizio TERZA sezione------------------ */

#sez_3 {
  height: 280px;
  background-color: #7FFFD4;

}
.sez_3_contenitore {
  width: 80%;
  background-color: green;
}
.sez_3_contenitore > libro >img {
  width: 15%;
  height: 40%;
}
#libro {
  height: 200px;
  width: 18%;
  float: left;
}
#sez_3_testo {
  float: right;
}
/* fine TERZA sezione---------------------- */
/* inizio QUARTA sezione------------------- */
#sez_4{
height: 580px;
padding-left: 10%;
background-color: #00BFFF;
}
.sez_4_contenitore {
  width: 80%;
  background-color: #2F4F4F;
}
.sez_4_blocchi {
  width: 30%;
  height: 500px;
  background-color: #FFFACD;
  float: left;
}
.sez_4_img {
  width: 40%;
  height: 20%;
}
.sez_4_img img {
  width: 100%;
  height: 100%;
}
.sez_4_blocchi:nth-child(2) {
  margin:0 48px;
}
.sez_4_blocchi:last-child {
  float: right;
}
/* fine QUARTA sezione */





footer {
  padding: 30% 0;
  background-color: violet;
  border:1px solid black;
}
